<header>
  <h1>My Recipes</h1>
</header>

<br>
<span *ngIf="message">There are no recipes to list</span>
<br>
<br>

<div>
  <button role="button" type="submit" class="btn btn-primary" (click)="addRecipes()">Add Recipe

  </button>
</div>
<br>

<div *ngIf="showForm">
  <form [formGroup]="restarentForm">
    <div class="form-group">
      <!-- <label>recipe-name</label> -->
      <br>
      <input type="text" role="textbox" class="form-control" formControlName="item" placeholder="" id="recipename" name="recipe-name">recipe-name
    </div>
    <br>
    <div class="form-group">
      <!-- <label >recipe-instructions</label> -->
      <br>
      <input type="text"  role="textbox" class="form-control" placeholder="" formControlName="description" id="recipe-instructions" name="recipe-instructions">recipe-instructions
      
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    <br>
    <span *ngIf="hadleError">{{hadleError}}</span>
   </form>
   <br>
    
</div>

<div>
  <br>
</div>

<br>
  <br>

  <div>
    <table class="table" *ngIf="showlist">
      <thead>
        <tr>
          <th scope="col">recipe-name</th>
          <th scope="col">recipe-instructions</th>
          <!-- <th scope="col">Delete</th>
          <th scope="col">Update</th>   -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let displayList of displayList">
          <td *ngIf="displayList.item">{{displayList.item}}</td>
          <td *ngIf="displayList.description">{{displayList.description}}</td>
      