<header>
  <h1>My Recipes</h1>
</header>

<br>
<span *ngIf="message">There are no recipes to list</span>
<br>
<br>

<div>
  <button type="submit" class="btn btn-primary" (click)="addRecipes()">Add Recipes

  </button>
</div>
<br>

<div *ngIf="showForm">
  <form [formGroup]="restarentForm">
    <div class="form-group">
      <label for="email">recipe-name</label>
      <br>
      <input type="text" class="form-control" formControlName="item" placeholder="Enter item name" id="item">
    </div>
    <br>
    <div class="form-group">
      <label for="pwd">recipe-instructions</label>
      <br>
      <textarea type="text" class="form-control" placeholder="Enter description" formControlName="description" id="description"></textarea>

    </div>
    <br>
    <span *ngIf="hadleError">{{hadleError}}</span>
   </form>
   <br>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</div>

<div>
  <br>
</div>

<br>
  <br>

  <div>
    <table class="table" *ngIf="showlist">
      <thead>
        <tr>
          <th scope="col">recipe-name</th>
          <th scope="col">recipe-instructions</th>
          <!-- <th scope="col">Delete</th>
          <th scope="col">Update</th>   -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let displayList of displayList">
          <td *ngIf="displayList.item">{{displayList.item}}</td>
          <td *ngIf="displayList.description">{{displayList.description}}</td>
      